body {
    font-family: 'Arial', sans-serif;
    background-color: #232f3e;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container, .main-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-container input {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.login-container button, .main-container button {
    background-color: #ff9900;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #232f3e;
    font-size: 16px;
}

.login-container button:hover, .main-container button:hover {
    background-color: #cc7a00;
}

.main-container .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.credits-button {
    display: flex;
    align-items: center;
    background-color: #ff9900;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #232f3e;
    font-size: 14px;
}

.credits-button img.credits-photo {
    width: 4s00px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Rounded corners */
    margin-right: 10px;
}

.credits-button span {
    color: #232f3e;
    font-size: 16px; /* Optional: Adjust text size */
}
